.navlink {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 0;
  justify-content: center;
}
