.task-form {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.btn-add {
    background-color: #295F98;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #204975;
}

.form-input {
    padding: 0.5rem;
    /* border: 1px solid #ccc; */
    border: none;
    border-radius: 0.4rem;
    width: 100%;
}