.task-form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.input-list {
  display: flex;
  align-items: center;
}

.btn-add {
  background-color: #295f98;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #204975;
}

.form-input {
  box-sizing: border-box;
  border: 1.5px solid transparent;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 4px rgba(41, 95, 152, 0.5);
  transition: border 1s ease, box-shadow 0.3s ease;
}

.form-input:focus {
  border-color: #295f98; /* Warna berubah, ukuran tetap */
  outline: none;
}
